<div class="wrapper">
  <div class="row">
    <div class="col-lg-9">
      <nb-card size="giant">
        <div id="container" style="width: 100%; height: 600px"></div>
        <nb-card-header>
          <nb-button-group size="medium" shape="round" style="float: left">
            <button
              nbButton
              nbButtonToggle
              type="button"
              outline
              (click)="toggleFunc(true)"
            >
              INWARD
            </button>
            <button
              nbButton
              nbButtonToggle
              type="button"
              outline
              (click)="toggleFunc(false)"
              pressed="true"
            >
              OUTWARD
            </button>
          </nb-button-group>
        </nb-card-header>
      </nb-card>
    </div>

    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-12">
          <nb-card size="small">
            <nb-card-header>Volume {{ timestamp }}</nb-card-header>
            <nb-card-body>
              <div *ngFor="let item of period">
                <p style="float: right" [style.color]="item.color">
                  {{ item.value }}
                </p>
                <p [style.color]="item.color">{{ item.title }}</p>
                <hr width="100%" [style.borderColor]="item.color" />
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-lg-12">
          <nb-card size="small">
            <nb-card-header>Volume For Today</nb-card-header>
            <nb-card-body>
              <div *ngFor="let item of allDay">
                <p style="float: right" [style.color]="item.color">
                  {{ item.value }}
                </p>
                <p [style.color]="item.color">{{ item.title }}</p>
                <hr width="100%" [style.borderColor]="item.color" />
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
