<div class="wrapper">
  <div class="row">
    <div class="col-lg-6">
      <nb-card size="giant">
        <nb-card-body>
          <div>
            <nb-card-header
              >GIP Transactions <br />
              <span>Outward</span></nb-card-header
            >
            <ngx-echarts-bar></ngx-echarts-bar>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card size="giant">
        <nb-card-body>
          <div>
            <nb-card-header>Funds Transfers</nb-card-header>
            <ngx-echarts-bar></ngx-echarts-bar>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
